.gameover {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  position: relative;
  max-width: 65vw;
  margin: auto;

  h1, p {
    color: white;
  }
}