.tetris {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-top: 50px;

  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 25vw;
    padding: 0;

    li {
      color: white;
      list-style: none;
    }
  }
}