.mmrt {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 64px;

  *, p, p:active, h1, label, button {
    color: white;
  }

  button:disabled {
    display: none;
  }

  hr {
    border-color: white;
  }

  .radioGroup {
    padding-left: 50px;
  }

  .submit {
    margin: 0 25px;
  }
}