@import "@/styles/breakpoints.mixin.scss";

.stage {
  display: grid;
  grid-gap: 1px;
  border: 2px solid #333;
  max-width: 25vw;
  background: #111;

  // @include media("md", min) {
  //   max-width: 25vw;
  // }
  
}